server {
    listen 80;
    server_name _;

    location / {
        proxy_pass http://unix:/opt/sample-django/gunicorn.sock;
        include /etc/nginx/uwsgi_params;
    }

     location /static/ {
        alias /opt/sample-django/static/;
    }
    
    error_log  /var/log/nginx/django_error.log;
    access_log /var/log/nginx/django_access.log;
}