DEBUG=True
DEVELOPMENT_MODE=False
DJANGO_ALLOWED_HOSTS=*
DATABASE_URL=postgres://{{ db_user }}:{{ db_password }}@{{ db_host }}:{{ db_port }}/{{ db_name }}
CSRF_TRUSTED_ORIGINS=http://{{ ansible_host }},{{ lb_dns }}
